<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="magnet_ v2_heatsink_and_case">
  <link
    name="magnet_v2_heatsink_and_case">
    <inertial>
      <origin
        xyz="-0.00269900607808627 0.00264766720457279 -0.0397045734950628"
        rpy="0 0 0" />
      <mass
        value="0.279680883568371" />
      <inertia
        ixx="0.000443284551310805"
        ixy="-1.9304126139056E-06"
        ixz="-2.20436583908112E-07"
        iyy="0.000453163404190176"
        iyz="-1.54774248228786E-06"
        izz="0.000758424903198277" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magnet_ v2_heatsink_and_case/meshes/magnet_v2_heatsink_and_case.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magnet_ v2_heatsink_and_case/meshes/magnet_v2_heatsink_and_case.STL" />
      </geometry>
    </collision>
  </link>
</robot>