<?xml version="1.0"?>
<robot name="magnet_v2" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="simulation" default="false" />
  <xacro:arg name="use_gpu" default="true" />

  <xacro:include filename="$(find magnet_v2_description)/urdf/magnet_v2.urdf.xacro" />

  <link name="root"/>

  <xacro:magnet_v2 parent="root" prefix="$(arg prefix)" simulation="$(arg simulation)" use_gpu="$(arg use_gpu)" >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:magnet_v2>

</robot>
