<launch>
  <arg name="simulation" default="true" />
  <arg name="xacro_file" default="$(find magnet_v2_description)/urdf/standalone.urdf.xacro" />

  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(arg xacro_file)' simulation:=$(arg simulation)" />

  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"
        output="screen" />
</launch>
